:root {
    --main-color: #10cab7;
    --secondry-color: #2c4755;
    --heading-color: #ebeced;
    --section-background: #f6f6f6;
    --section-padding: 60px;
    --main-duration: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Small Screen */
@media (min-width: 768px)
{
    .container {
        width: 750px;
    }
}

/* Mediam Screen */
@media (min-width: 992px)
{
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px)
{
    .container {
        width: 1170px;
    }
}

/* Start Global Rules */
/* Start Componant */
.special-heading {
    color: var(--heading-color);
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -25px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -18px;
    }
}

/* End Componant */
/* End Global Rules */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 25px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

header .links .icon span {
    background-color: #222;
    margin-bottom: 4px;
    border-radius: 2px;
    height:2px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 70%;
    transition: width var(--main-duration);
}

header .links .icon span:last-child {
    width: 100%;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 99999;
}


header .links ul::before {
    content: '';
    position: absolute;
    right: 5px;
    top: -20px;
    border-style: solid;
    border-color: transparent transparent var(--section-background);
    border-width: 10px
}

header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: display var(--main-duration);
}

header .links:hover ul {
    display: block;
}

header .links ul li a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* Start Landing */
.landing {
    background-image: url(../Images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 45px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing */

/* Start Features */
.features {
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 20px;
}

.features .feat p {
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
/* End Features */

/* Start Services */
.section {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .ser {
    display: flex;
    margin-bottom: 40px;

}

@media (max-width: 767px) {
    .services .services-content .ser {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .ser i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .ser .text {
    flex: 1;
}

.services .services-content .ser .text h3 {
    margin: 0 0 20px;
}

.services .services-content .ser .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: '';
    background-color: var(--secondry-color);
    width: 120px;
    height: calc(100% + 90px);
    position: absolute;
    top: -45px;
    right: 0;
    z-index: -1;
} 

.services .services-content .image img {
    height: 350px;
}

@media (max-width: 1199px) {
    .image-none {
        display: none;
    }
}
/* End Services */

/* Start Portfolio */
.portfolio {
    background-color: var(--section-background);    
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    width: 350px;
    background-color: white;
}

.portfolio .portfolio-content .card .text {
    padding: 20px;
}

.portfolio .portfolio-content .card .text h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .text p {
    margin-bottom: 0;
    color: #777;
}

.portfolio .portfolio-content .card .image {
    max-width: 100%;
}

.portfolio .portfolio-content .card .image img {
    height: 350px;
    max-width: 100%;
}
/* End Portfolio */

/* start about */
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .image {
    position: relative;
    height: 350px;
    width: 300px;
}

.about .about-content .image::before {
    content: "";
    height: calc(100% + 80px);
    width: 80px;
    position: absolute;
    left: -20px;
    top: -40px;
    background-color: var(--secondry-color);
    z-index: -1;
    background-color: #ebeced;
}

.about .about-content .image::after {
    content: "";
    width: 126px;
    height: 290px;
    border-bottom: 70px solid var(--main-color);
    border-left: 90px solid var(--main-color);
    position: absolute;
    right: -155px;
    top: -35px;
    z-index: -1;
}

.about .about-content .image img {
    height: 100%;
    width: 100%;
}

.about .about-content .text {
    flex-basis: 500px;
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 1.6;
    color: #777;
}

@media (max-width: 767px) {
    .about .about-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about .about-content .image::before {
        display: none;
    }    
    .about .about-content .image::after {
        content: "";
        width: 100%;
        height: 80%;
        border-radius: 50%;
        background-color: var(--main-color);
        bottom: -10px;
        left: 0;
        transform: translate(-10%, 10%);
    }   
    .about .about-content .image {
        margin-bottom: 20px;

    }
}
/* end about */

/* start contact */
.contact {
    background-color: var(--section-background);    
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondry-color);
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    font-style: italic;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondry-color);
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }
    
    .contact .info .social {
        flex-direction: column;
    }
}
/* end contact */


/* Start Footer */
.footer {
    height: 100px;
    text-align: center;
    padding: 30px;
    font-size: 18px;
    background-color: var(--secondry-color);
    color: white;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */